
.card {
  width: 80%;
  height: auto;
  margin: 2em auto;
  position: relative;
  padding-bottom: 3em;
  
}

.dropdown-content li>a, .dropdown-content li>span {
  color:#000000 !important;
}

/* .collection a.collection-item:not(.active):hover{
  background-color: #c8e6c9;
} */



input[type=text]:focus:not([readonly]) textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;}