
.card {
  width: 80%;
  height: auto;
  margin: 2em auto;
  position: relative;
  padding-bottom: 3em;
  
}

.libraryList:hover { 
  color: #4caf50 !important;
  cursor: pointer;
}

.dropdown-content li>a, .dropdown-content li>span {
  color:#000000 !important;
}

input[type=text]:focus:not([readonly]) textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;}